<!-- display a single user's bio & game info -->
<% include ../partials/header %>


<div>Logged in currently as <%= user.fullName %> </div>
<p>"SHOW" page for single user</p>

<div>
	<ul>
		<li>Your info:</li>
		<li><img src="<%= user.imageUrl %>"></li>
		<li>followers: <%= user.followersHref %></li>
	</ul>
</div>


<p>show user's friends</p>
<div id="showFriends">
</div>

<p>show user's playlists</p>
<div>
	<ul id="showPlaylists"></ul>
</div>

<form>
	<input type="hidden" id="spotifyId" value="<%= user.spotifyId %>">
</form>

<div>Logged in currently as <%= user.fullName %> </div>
<div>
	<a href="/users/<%= user.spotifyId %>/edit"><button class="button">Edit user info</button></a>
	<a href="/logout"><button class="button logout">Logout</button></a>
</div>

	<p>Player page for single user</p>
	<p>"show" player's info</p>
	<p>show player friends</p>

	<p>Or, you can play against the computer, find friends to play against, or create a playlist to challenge friends with.</p>
	<a href="/play/computer"><button class="button">Play computer</button></a>
	<a href=""><button class="button">Find friends</button></a>
	<a href=""><button class="button">Create playlist</button></a>

<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/viewPlaylists.js"></script>
<script type="text/javascript" src="/js/findFriends.js"></script>

<% include ../partials/footer %>